#typing {
  font-size: 1.2rem;
  color: #00f5ff;
  min-height: 30px;
  font-family: "Source Code Pro", monospace;
}

#typing::after {
  content: "|";
  color: whitesmoke;
  animation: blink 1s infinite;
  margin-left: 5px;
}

@keyframes blink {
  50% { opacity: 0; }
}
